{% extends 'base.html' %}
{% load static %}
{% block title %}404-Page Not Found{% endblock %}
{% block description %}Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?{% endblock %}
{% block descriptionfb %}Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?{% endblock %}
{% block content %}

<div class="container error-container">

    <div class="mt-5 text-center">
    <h1 class="display-1 font-weight-bold ">Error 404!</h1>
    </div>
    <div class="mt-5 text-center">
        <h3>Maybe this page moved, is quarantined, or never existed in the first place...</h3>
        <p>Do not fret,Let MOREME take you to <a href="{% url 'articles_list' %}">where you might find what you are looking for</a></p>
  
    </div>
    
</div>
{% endblock %}