{% extends 'base.html' %}
{% load static %}
{% block title %}{% if form.revise.value == True %}Revise And Resubmit {% else %}Create New Article {% endif %}{% endblock %}
{% block description %}{% if form.revise.value == True %}Edit{% else %}Create{% endif %} your article, share to our audience and smile at your bank{% endblock %}
{% block content %}
<style>
    .img-preview{
        height: 200px;
        width: 260px;
        background: #fff;
        overflow: hidden;

    }
    .img-preview img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .custom-file input[type='file']{
        display: none;
    }
    .custom-file label{
        cursor: pointer;
        color: #000;
        margin: auto;
        margin-top: 15px;
    }
    iframe.note-fullscreen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw!important;
      height: 100vh!important;
      z-index: 4000;
    }
</style>

<div class="container border-top p-3">
    <form  method="POST"  enctype="multipart/form-data">
        {% csrf_token %}

        <!--CKeditor Script-->

        {{form.non_field_errors }}
        {{form.field.errors }}
        <div class="form-group">
            <label for="id_title">Title:</label>
            {% if form.title.value %}
            <input class='form-control' type="text" name="title" minlenght="30" maxlength="120" value="{{form.title.value}}" required id="id_title">
            {% else %}
            <input class='form-control' type="text" name="title" minlenght="30" maxlength="120"  required id="id_title">
            {% endif %}
            {{ form.title.errors }}
        </div>

        <div class="form-group">
            <label for="id_body">Body:</label>
            {{ form.body.errors }}
            <textarea name="body" cols="40" rows="10" id="id_body" hidden="true">
                {% if form.body.value %}
                    {{form.body.value}}
                {% endif %}
            </textarea>
            <div class="summernote-div"  cols="40" rows="10" width="100%" height="500">
                <iframe id="id_body_iframe" src="/summernote/editor/id_body/" frameborder="0" width="100%" height="500"></iframe>
            </div>
        </div>
        <div class="form-group">
            <label for="id_category">Category:</label>
            <select class="form-control" name="category" id="id_category">
                {% for c in cat %}
                {% if form.category.value == c.id %}
                <option value="{{c.id}}" selected>{{c}}</option>
                {% else %}
                <option value="{{c.id}}">{{c}}</option>
                {% endif %}
                {% empty %}
                <option value="" >---------</option>
                {% endfor %}
            </select>
            {{ form.category.errors }}
        </div>

        <div class="form-group">
            <label for="id_tag">Tags:</label>
            <input type="text" name="tag" id="id_tag" data-role="tagsinput">
            {{ form.tag.errors }}
        </div>
        <div class="form-group">
        <label for="id_article_type">Revenue type:</label>
        <select class="form-control" name="article_type" id="id_article_type">
            <option value="ppc" selected>PPC (revenue will be paid per click accumulated)</option>
        </select>
        </div>
        <div class="form-group">
            <div class="img-preview">
                {% if form.image_upload.value %}
                <img src="/media/{{form.image_upload.value}}" alt="article_image" id="img_preview" class="rounded border border-dark">
                {% else %}
                <img src="{% static 'images/default.png' %}" alt="article_image" id="img_preview" class="rounded border border-info">
                {% endif %}

            </div>
            <div class="custom-file">
                <label class ="btn btn-primary text-white" for="id_image_upload">{% if form.image_upload.value %}Change Thumbnail{% else %}Add Thumbnail{% endif %}</label>
                <input type="file" name="image_upload" accept="image/*" onchange ='PreviewImage(event)'  id="id_image_upload">
                {{form.image_upload.errors}}
            </div>
        </div>
        <div class="form-group ">
            {% if request.user.creatorprofile.is_approved and not request.user.creatorprofile.banned  %}
            <button type="submit" class="btn btn-primary mt-2">Publish</button>
            {% else %}
            {% if request.user.creatorprofile.banned %}
            <span class="text-danger">Your account has been banned. Contact administrator if you are seeing this by mistake</span>
            {% else %}
            <span class="text-warning">Your account is awaiting approval, you will be able to publish as soon as it is approved</span>
            {% endif %}
            {% endif %}
        </div>

    </form>
</div>
<script>
    var settings_id_body = {"width": "100%", "height": 480, "lang": "en-US", "toolbar": [["style", ["style"]], ["font", ["bold", "italic"]], ["para", ["ul", "ol", "paragraph"]], ["height", ["height"]], ["insert", ["link", "picture", "video"]], ["view", ["codeview"]], ["help", ["help"]]], "url": {"language": "/static/summernote/lang/summernote-en-US.min.js", "upload_attachment": "/summernote/upload_attachment/"}};
</script>
<script type="text/javascript">
    function PreviewImage(event){
        var output = document.getElementById('img_preview');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
{% endblock %}