{% load static %}

<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{% block title %} {% endblock %}</title>
    {% if article %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Article",
          "headline": "{% block titleseo %}{% endblock %}",
          "image":  "https://www.moremehub.com{% block thumb2 %}{% endblock %}",
          "description": "{{article.body|truncatewords:25|cut:'<p>'|cut:'</p>'}}",
          "author": {
            "@type": "Person",
            "name": "{{article.author.get_full_name}}"
          },
          "publisher": {
            "@type": "Organization",
            "name": "MoremeHub"
          },
          "datePublished": "{% block datep %}{% endblock%}",
          "dateModified": "{% block datem %}{% endblock %}"
        }
    </script>

    {% endif %}
    <!--Meta Tags-->
        {% load pwa %}
{% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:site_name" content="MoremeHub" />
    <meta name="description" content="{% block description %}{% endblock %}">   <!--106 words Maximum-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@moremehub.com" />
    <meta name="twitter:title" content="{% block titletw %}{% endblock %}">
    <meta property="og:type" content="{% if article %}article{% else %}website{% endif %}" />
    <meta property="og:title" content="{% block titlefb %}{% endblock %}" />
    <meta property="og:description" content="{% block descriptionfb %}{% endblock %}"/>
    <meta property="og:image" content="https://www.moremehub.com{% block thumb1 %}{% endblock %}" />
    <meta property="og:image:secure_url" itemprop="image" content="https://www.moremehub.com{% block thumb %}{% endblock %}"/>
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta name="msvalidate.01" content="AA2A3FD98F6C17BCDE8184DDDA805E83" />
    <link rel="icon" sizes="192x192" href="{% static 'images/moreme_logo.webp' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- connect to domain of font files -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- optionally increase loading priority -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900">

    <!-- async CSS -->
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900">

    <!-- no-JS fallback -->
    <noscript>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900">
    </noscript>


    <link rel="preload" href="static/images/header.webp" as="image">

    <link rel="shortcut icon" href="{% static 'icon/favicon.ico' %}">
    <link rel="preconnect" href="{% static 'fonts/icomoon/fonts/icomoon.ttf?10si43' %}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  {% if not article %}
   <!--Adsense Code -->
    <script data-ad-client="ca-pub-8164139980360647" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=141" media="screen">
    {% if cat %}
    <!--Tag css-->
    <link rel="stylesheet" href="{% static 'css/tagsinput.css' %}">
    {% endif %}

    <!--Form css-->
    {% if form_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% endif %}

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-STP8KGGEDS');
    </script>
  {% block meta %}
  {% endblock %}
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu">
          <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle"></span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar stick pt-3" role="banner">
          <div class="container-fluid navbar-light fixed-top bg-white ">
            <div class="row align-items-center">

              <div class="col-6 col-xl-6 logo">
                <div class="mb-0"><a href="{% url 'articles_list' %}" class="text-black h2 mb-1">More<span style="color: rgb(32, 176, 233);">me</span></a></div>
              </div>

              <div class="col-6 mr-auto py-3 text-right" style="position: relative; top: 3px;">
                <div class="social-icons d-inline">
                  <a href="https://www.facebook.com/Moremehub/"><span class="icon-facebook"></span></a>
                  <a href="https://twitter.com/moremehub"><span class="icon-twitter"></span></a>
                </div>
                <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-xl-none"><span class="icon-menu h3"></span></a></div>
              </div>

              <div class="col-12 d-none d-xl-block border-top">
                <nav class="site-navigation text-center " role="navigation">

                  <ul class="site-menu  js-clone-nav mx-auto d-none d-lg-block mb-0">
                      <li><a href="{% url 'articles_list' %}">Homepage</a></li>
                    <li><a href="{% url 'user_list' %}">Members List</a></li>
                     <li class="has-children">
                      {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' 'landing' %}">{{request.user.username|title}}</a>
                        {% else %}
                        <a href="{% url 'login' %}">Login/Register</a>
                      {% endif %}
                        <ul class="dropdown">
                          {% if request.user.is_authenticated %}
                          <li><a href="{% url 'dashboard' 'landing' %}">Dashboard</a></li>
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                          {% else %}
                          <li><a href="{% url 'login' %}">Login</a></li>
                          <li><a href="{% url 'register' %}">Register</a></li>
                          {% endif %}
                        </ul>
                      </li>
                      {% if not user.creatorprofile.is_approved %}
                      <li><a href="{% url 'register_creator' %}">Write for us</a></li>
                      {% endif %}
                      <li><a href="{% url 'about' %}">Contact Us</a></li>
                      <li><a href="{% url 'about' %}">About Us</a></li>
                  </ul>
                </nav>
              </div>
            </div>
        </div>

        </header>

<div class="body-container">
{% block content %}
{% endblock %}
</div>
<div class="site-footer">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <h3 id="about" class="footer-heading mb-4">About Us</h3>
        <p>On Moreme Hub, your interest is our priority. Get abreast with our timely news, interesting articles and inspiring stories to keep you glued to the screen. Sign Up now as a member or as a creator if you want to turn your passion for writing to earn some cool cash. You create the content, we give you the audience!<a href="{% url 'about' %}">[Read More..]</a></p>
      </div>
      <div class="col-md-3 ml-auto">
        <h3 class="footer-heading mb-4">Quick Menu</h3>
        <ul class="list-unstyled float-left mr-5">
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'about' %}#advert">Advertise</a></li>
          <li><a href="{% url 'about' %}#advert">Contact</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login/Register</a></li>
          {% endif %}
        </ul>
        <ul class="list-unstyled float-left">
          <li><a href="{% url 'query' action='category' arg='Technology' %}">Technology</a></li>
          <li><a href="{% url 'query' action='category' arg='Food' %}">Food</a></li>
          <li><a href="{% url 'query' action='category' arg='Gaming' %}">Gaming</a></li>
          <li><a href="{% url 'query' action='category' arg='Lifestyle' %}">Lifestyle</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="mb-5">
          <h3 class="footer-heading mb-4">Search</h3>
          <form method="get" action="{% url 'query' action='search' arg='query' %}" class="form-footer-subscribe">
            <div class="form-group d-flex">
              <input style="border-radius: 0px !important;"  type="text" id="search" name="search_query" placeholder="Type a keyword and hit enter" class="form-control" required>
              <input style="border-radius: 0px !important;"  type="submit" class="btn btn-primary text-white" value="Search">
            </div>
          </form>
        </div>

        <div>
          <h3 id="contact" class="footer-heading mb-4">Connect With Us</h3>
          <p>
            <a href="https://www.facebook.com/Moremehub/"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
            <a href="https://twitter.com/moremehub"><span class="icon-twitter p-2"></span></a>
            <a href = "mailto:mail.moremehub@gmail.com?subject =Moreme_Ads&body = Message"><span class="icon-envelope p-2"></span></a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p>
          Copyright &copy; 2021 All rights reserved | Moreme Hub | <a href="{% url 'privacy-policy' %}">Privacy Policy</a> | <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}">Site Map</a>
          </p>
      </div>
    </div>
  </div>
</div>


<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/main.js' %}?v270"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% if cat %}
<!--Tags js-->
<script type="text/javascript" src= "{% static 'js/tagsinput.js' %}"></script>
{% endif %}

{% if ajax_here %}
<!--AJax CSRF SETUP-->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });

  $(document).ready(function(){
    {% block domready %}
    {% endblock %}
  });
  </script>
  {% endif %}
</body>
</html>