{% extends 'base.html' %}
{% load static %}
{% block title %}About Moreme Hub{% endblock %}
{% block description %}All you need to know about the fast rising Moreme Hub {% endblock %}
{% block descriptionfb %}All you need to know about the fast rising Moreme Hub{% endblock %}
{% block content %}

<div class="container">
<h1 class="text-center">PRIVACY POLICY</h1>
<p>This privacy policy sets out how we collect, process, and protect your personal data through your use of our website [moremehub.com], including any information you may provide through our site when you sign up to become a member or a content creator.</p>

<p>Your use of the Website constitutes your acceptance of, and agreement to, the following Privacy Policy. The website, Daystar Developer&nbsp;reserves the right to modify, alter, amend or update its Website, and Privacy Policy. This Privacy Policy is subject to change without notice. If you do not agree with or do not accept any part of this Privacy Policy, you must not use the Website.</p>

<p>Daystar Developer&nbsp;is the data controller and we are responsible for your personal data (referred to as &ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo; in this privacy policy).</p>

<p>This policy is effective from the 3rd of March 2021.</p>

<h3>CONTACT DETAILS</h3>

<p>Email Address: mail.moremehub@gmail.com.</p>

<p>Telephone Number: +2347068533426.</p>

<p>If you are not happy with any aspect of how we collect and use your data, we would be grateful if you would contact us first if you do have a complaint so that we can try to resolve it for you.</p>

<p>You can send your complaints to the email address provided above.</p>

<h3>WHAT INFORMATION DO WE COLLECT AND HOW IS IT USED?</h3>

<ul>
	<li>Information you voluntarily submit to this website: this includes any information submitted via our registration form for both members and creators. This information ranges from your email address, first names, your bank account number(for content creators), etc. Also, you may voluntarily submit comments on articles on this website. This information is stored in our database.</li>
	<li>Automatically-Collected Information: The Website automatically collects certain information about you and the device with which you access the Website. For example, when you use the Website, The Website will log your IP address, operating system type, browser type, referring website, pages you viewed, and the dates/times when you accessed the Website. The Website may also collect information about actions you take when using the Website, such as links clicked.</li>
	<li>Cookies: The Website may log information using cookies, which are small data files stored on your browser by the Website. The Website may use both session cookies, which expire when you close your browser, and persistent cookies, which stay on your browser until deleted, to provide you with a more personalized experience on the Website.</li>
</ul>

<p>&nbsp;</p>

<h3>HOW YOUR INFORMATION MAY BE USED</h3>

<p>This website may use the information collected in the following ways:</p>

<ul>
	<li>To determine how contents are served to you on this website.</li>
	<li>To send you promotional information, such as newsletters. Each email promotion will provide information on how to opt-out of future mailings. Note, we will not spam your inbox with irrelevant messages.</li>
	<li>To send you (especially content creators)&nbsp;administrative communications, such as administrative emails, confirmation emails, technical notices, updates on policies, or security alerts.</li>
	<li>To track and measure advertising on the Website.</li>
	<li>To provide users support.</li>
	<li>Bank accounts and bank names provided by content creators are used to pay content creators for their contributions to the&nbsp;website. We would never display your bank details publicly.</li>
</ul>

<h3>THIRD-PARTY USE OF PERSONAL INFORMATION</h3>

<p>This website may use third-party service providers to service various aspects of the Website. Each third-party service provider&rsquo;s use of your personal information is dictated by their respective privacy policies. The Website currently uses the following third-party service providers:</p>

<p>Google Analytics -&nbsp;This service tracks Website usage and provides information such as referring websites and user actions on the Website. Google Analytics may capture your IP address, but no other personal information is captured by Google Analytics.<a href="https://policies.google.com/privacy"> You may access Google Analytics&rsquo; privacy policy here.</a></p>

<h3>PUBLICLY AVAILABLE INFORMATION</h3>

<p>This website has a &#39;member&#39; section where details of all our registered members are available. Note that we would never disclose your sensitive information.&nbsp;Information disclosed include your full name, profile picture, and the list of articles you publish on our website if you are a content creator. Also, this website has an interactive comment section, you are liable for any information made available as the comment section remains visible to the public. However, we can remove any comment without the user&#39;s consent anytime.</p>

<h3>COOKIES</h3>

<p>The Website at the moment does not store cookies. All information including pages visited, interests, etc.&nbsp;is stored on our server side for registered members. However, we may decide to use cookies in the future. Cookies may also be used by third-party services, such as Google Analytics, as described herein.</p>

<h3>YOUR LEGAL RIGHTS</h3>

<p>Under certain circumstances, you have rights under data protection laws in relation to your personal data. These include the right to:</p>

<ul>
	<li>Request access to your personal data.</li>
	<li>Request correction of your personal data.</li>
	<li>Request erasure of your personal data.</li>
	<li>Object to processing of your personal data.</li>
	<li>Request restriction of processing your personal data.</li>
	<li>Request transfer of your personal data.</li>
	<li>Right to withdraw consent.</li>
</ul>

<p>Note that content creators do not have the right to withdraw their articles once submitted to this website. We also reserve the right to claim, distribute, modify or delete any article sent for publication on this website at any time without the creator&#39;s consent.</p>

<h3>IMAGES</h3>

<p>We do&nbsp;not hold credit for any images posted on this website unless otherwise noted. Images on this website are copyright to its respectful owners. If there is an image appearing on this website that belongs to you and you do not wish for it to appear&nbsp;on this site, please send us a mail via mail.moremehub@gmail.com . Note that the correct URL to the image must be stated in the mail to proceed with the removal.</p>

<h3>THIRD-PARTY LINKS</h3>

<p>This website may include links to third-party websites, plug-ins, and applications. Clicking on those links or enabling those connections may allow third parties to collect or share data about you. We do not control these third-party websites and are not responsible for their privacy statements. When you leave our website, we encourage you to read the privacy notice of every website you visit.</p>

</div>
{% endblock %}